html,
body {
  height: 100%;
  background: #fffaf0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-stretch: extra-condensed;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
